# Arquivos de cache e compilados do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ambientes virtuais
.env
.venv
env/
venv/
ENV/

# Arquivos gerados pelo PyInstaller
build/
dist/
*.spec

# Arquivos específicos da aplicação que não devem ser versionados
*.db
*.db-journal
*.sqlite
*.sqlite3

# Configurações locais do usuário
gcp_settings.json

# Logs e arquivos temporários
*.log
*.tmp

# Arquivos de configuração de IDEs
.vscode/
.idea/

# Arquivos de sistema operacional
.DS_Store
Thumbs.db